---
import ColorLogo from "../assets/Color-Full.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Trinity Design Labs</title>
  </head>
  <body>
    <div class="flex items-center justify-between p-4">
      <ColorLogo width="140" />
      <div>nav links</div>
    </div>
    <slot />
  </body>
</html>
