---
import ColorLogo from "../assets/Color-Full.svg";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Trinity Design Labs</title>
  </head>
  <body>
    <nav class="flex items-center justify-between p-4">
      <a href="/">
        <ColorLogo width="140" />
      </a>
      <div class="flex items-center gap-4">
        <a href="/our-work/example-1">example 1</a>
        <a href="/our-work/example-2">example 2</a>
      </div>
    </nav>
    <slot />
  </body>
</html>
